.product-details-container {
    margin: 0 auto;
}


.product-details-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.product-details-form button {
    margin: 0 0 0 auto;
}
.form-box {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    gap: 20px;
    border-radius: 8px;
    width: -webkit-fill-available;
}

.section {
    width: 48%; /* 48% width to fit two sections horizontally */
}

.form-group {
    margin-bottom: 15px;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #ccc;
}

    input[type="file"] {
        margin-top: 10px;
    }

button.btn-submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    width: 300px;
}

    button.btn-submit:hover {
        background-color: #0056b3;
    }

h3.head {
    text-align: center;
    margin-bottom: 20px;
}

h5 {
    margin-bottom: 10px;
}

input:focus, select:focus, textarea:focus {
    outline: none;
    border-color: #007bff;
}
.wood-form {
    max-width: 300px;
    margin: 0 auto;
}
form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    width: 300px;
}

.variant-selection table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.variant-selection th,
.variant-selection td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.variant-selection th {
    background-color: #f2f2f2;
}

.variant-selection td select {
    width: 100%;
}

    .variant-selection td select[multiple] {
        height: 100px;
    }
.variant-selection {
    width: 100%;
}
.variant-selection button{
    margin: 0 0 0 auto;
}

.featured {
    top: -22px;
    position: relative;
}